<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Strona główna</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url('@Url.Content("~/Static_files/background3.jpg")');">

    <div style="background-color:#2542b5;color:white" class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">
            <img src="~/Static_files/store.png" width="38" height="38" alt="Icon">
        </a>
        @Html.ActionLink("Sklep MVC", "UserView", "Products", new { area = "" }, new { @class = "navbar-brand", style = "color:white" })
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nasze produkty", "UserView", "Products")</li>


                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Panel admina", "AdminPanel", "Manage")</li>
                    }

                    @*<li>@Html.ActionLink("Produkty", "Index", "Products",null, new {@style = "color:#FFFFFF;" })</li>
                        <li>@Html.ActionLink("Tabela laczaca", "Index", "CategoryProducts")</li>
                        <li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">

                    <li> @Html.ActionLink("Koszyk", "showCart", "Products")</i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year -SklepMVC</p>
            Licznik odwiedzin sklepu:
            @Html.Action("ShowCounter", "Partial")
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cerulean")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .navbar-brand img {
        margin-left: 20px;
    }
    .white-link {
        color: white;
    }
</style>