@model sklepMVCv2.Models.IndexViewModel
@{
    ViewBag.Title = "Profil użytkownika";
}

<h2>@ViewBag.Title</h2>
@Styles.Render("~/Content/manageIndex.css")

@ViewBag.xD

<div class="user-profile">
    <div class="user-info">
        <img src="~/Static_files/user.png" class="profile-picture">
        <h1>@ViewBag.Name @ViewBag.Surname</h1>
        <p>@User.Identity.Name</p>
    </div>
    <div class="user-actions">
        <a href="ChangePassword" class="btn btn-primary">Zmień hasło</a>
        <a href="checkUserOrder" class="btn btn-secondary">Zobacz zamówienia</a>
    </div>
</div>

<style>
</style>

