@model sklepMVCv2.Models.Product

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

2
@ViewBag.Category

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @ViewBag.Category
        <dt>
            @Html.DisplayNameFor(model => model.Vat.VatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat.VatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
