@model IEnumerable<sklepMVCv2.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Produkty</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Products")';return false;">Dodaj nowy produkt</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vat.VatRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryProducts)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat.VatRate)
            </td>
            <td>
                @{
                    if (item.SmallImage != null)
                    {
                        var base64 = Convert.ToBase64String(item.SmallImage);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                       <img src='@imgsrc' width="150" height="150" />
                    }

                }
            </td>
            <td>
                @{
                    if (item.Image != null)
                    {
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                <img src='@imgsrc' width="150" height="150" />
                    }

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryProducts.Count)
            </td>
            <td>
                <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Delete", new { id = item.ProductID })';return false;">Usuń</button>
                <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Edit", new { id = item.ProductID })';return false;">Edytuj</button>
                <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Details", new { id = item.ProductID })';return false;">Szczegóły</button>
            </td>
        </tr>
    }

</table>
