
@{
    ViewBag.Title = "Koszyk";
}

<h2>showCart</h2>

@ViewBag.test


shoWcaARt
@if (Model != null)
{
    foreach (var product in Model)
    {
        <p>@product.Name</p>
    }

}
<style>
    /* Arkusz stylów dla widoku koszyka */
    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>


<h2>Koszyk</h2>

<table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Suma</th>
    </tr>
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            decimal sum = 0;
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
            </tr>
            sum += product.Price;
        <caption>sum</caption>
        }
    }

</table>